**/*.svg
**/*.ejs
**/*.html
**/*.gif
package.json
.umi
.umi-production
.umi-test
.vscode

*ignore
.editorconfig
.fatherrc.ts
.umirc.ts
.yarnrc
.eslintrc.js
tests/setup.js
jest.config.ts
babel.config.js

dist
docs-dist
public
node_modules

yarn-error.log
yarn.lock
*.md